div
    header.bg-gray-50.border.border-b-gray-200
        div(class='px-4 mx-auto max-w-5xl sm:px-6 lg:px-8')
            div(class='flex items-center justify-between h-16 lg:h-20')
                .flex-shrink-0
                    a(href="/" class='flex')
                        img(src="/img/Logo.png", alt="logo", class='h-[1.5rem]')
                div(class='hidden ml-auto lg:flex lg:items-center lg:justify-center lg:space-x-10')
                    a(href=`/tours/` class='text-base font-semibold text-black transition-all duration-200 hover:text-opacity-80') Tours 
                    a(href="#" class='text-base font-semibold text-black transition-all duration-200 hover:text-opacity-80') About us 
                    a(href="#" class='text-base font-semibold text-black transition-all duration-200 hover:text-opacity-80') Log in
                    a(href="#" class='inline-flex items-center justify-center px-5 py-2.5 text-base font-semibold text-black border-2 border-black hover:bg-black hover:text-white transition-all duration-200 focus:bg-black focus:text-white') Sign up