extends base

block content
    div(class='grid grid-cols-1 my-8 md:mt-10 gap-y-6 md:grid-cols-2 gap-x-10')
        div.bg-gray-50.p-5
            p this is the left side
        
        div
            p this is the right side