extends base

block content
    section(class='py-10 overflow-hidden sm:pt-16 2xl:pt-16')
        div(class='relative px-4 p-10 mx-auto sm:px-6 lg:px-8 max-w-5xl')
            h2 uh oh! Something went wrong
            p= msg