extends base

block content
    section(class='py-5 overflow-hidden')
        div(class='relative px-4 p-10 mx-auto sm:px-6 lg:px-8 max-w-5xl')
            div(class='sflex flex-col items-center')
                img(src="img/error.gif", alt="")
                h2(class='text-colorNavy font-bold text-2xl') oh no... Something went wrong
                p.mt-5= msg
                a(href="/" class='text-white bg-colorNavy py-2 px-5 rounded-full mt-5 hover:bg-gray-700') Back to Home
                